# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*/.venv/

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/

# Environment variables
.env
.env.*local

# uv lock file
uv.lock

# Rye specific
.rye/

# Operating System files
.DS_Store
Thumbs.db
